
  header {
    /*overflow: auto;*/
    
    background-color: #262626;
    text-align: center;
    border-bottom: white solid 6px;
    box-shadow: 0px 4px 8px #888888;
  }

  h1 {
    color:black;  
    font-family: 'Lucida Sans';
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
      font-size: 30px;
  }

 .column {
    float: left;
    text-align: center;
    width: 27.33%;
    padding: 3%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } 

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    header{
        height: 120px;
    }
  } 
